<action-bar actionBarTitle='Weapons'></action-bar>
<StackLayout>
    <GridLayout columns="*, 30" rows="auto" class="search-text-container">
        <TextField col="0" (textChange)=onSearchTextChanged($event) #searchTextField></TextField>
        <Label col="1" [text]="'fa-times' | fonticon" (tap)="onClearSearchTapped($event)" class="clear-search-text-button fa"></Label>
    </GridLayout>
    <ListView [items]="displayItems" (itemTap)="onItemTapped($event)" (longPress)="onItemLongPress($event)">
        <ng-template let-item="item">
            <GridLayout rows="5,auto" columns="5,*,5" class="item-container-margin">
                <GridLayout col="1" row="1" columns="*,80" rows="auto,auto" class="item-container">
                    <Label col="0" row="0" [text]="item.name" class="item-name"></Label>
                    <Label col="1" row="0" [text]="item.price" class="item-price"></Label>
                    <Label col="0" colSpan="2" row="1" [text]="'Damage ' + item.damage" class="item-price"></Label>
                </GridLayout>
            </GridLayout>
        </ng-template>
    </ListView>
</StackLayout>