<base-navigation-page>
    <ScrollView>
        <GridLayout columns="*,*,*,*,*,*" rows="auto,*">
            <ng-template ngFor let-option [ngForOf]="characteristics" let-i="index">
                <StackLayout row="0" [col]="+i">
                    <Label [text]="option.abbreviation"></Label>
                    <Label [text]="option.value"></Label>
                </StackLayout>
            </ng-template>
            <StackLayout row="1" [colSpan]="characteristics.length">
                <ng-template ngFor let-option [ngForOf]="skills" let-i="index">
                    <StackLayout orientation="horizontal">
                        <Label [text]="option.label + ' (' + option.characteristicCategory + ')'"></Label>
                        <Label [text]="option.rank"></Label>
                    </StackLayout>
                </ng-template>
            </StackLayout>
        </GridLayout>
    </ScrollView>
</base-navigation-page>