<base-navigation-page actionBarTitle="Character" selectedPage="Character">
    <ActionItem *ngIf="mode == 'view'" position="right" (tap)="onEditTapped()" right-action-items>
        <Label [text]="'fa-pencil' | fonticon" class="fa"></Label>
    </ActionItem>
    <ActionItem *ngIf="mode == 'edit'" position="right" (tap)="onSaveTapped()" right-action-items>
        <Label [text]="'fa-floppy-o' | fonticon" class="fa"></Label>
    </ActionItem>
    <GridLayout rows="*,auto">
        <ScrollView row="0">
            <GridLayout columns="*,*,*,*,*,*" rows="auto,*">
                <ng-template ngFor let-characteristic [ngForOf]="characteristics" let-i="index">
                    <StackLayout row="0" [col]="+i" class="characteristic-item" (tap)="onCharacteristicTapped(characteristic)">
                        <Label class="characteristic-label" [text]="characteristic.abbreviation"></Label>
                        <Label class="characteristic-value" [text]="characteristic.value"></Label>
                    </StackLayout>
                </ng-template>
                <StackLayout row="1" [colSpan]="characteristics.length">
                    <ng-template ngFor let-skill [ngForOf]="skills" let-i="index">
                        <GridLayout rows="auto" columns="auto,*,auto" (tap)="onSkillTapped(skill)" class="skill-list-item">
                            <Label col="0" class="skill-label" [text]="skill.label + ' (' + skill.characteristicCategory + ')'"></Label>
                            <StackLayout *ngIf="mode === 'view'" class="die-list-container" col="2" dice-list [config]="getDiceConfig(skill)"></StackLayout>
                            <Label *ngIf="mode === 'edit'" col="2" [text]="'Ranks: ' + skill.rank"></Label>
                        </GridLayout>
                    </ng-template>
                </StackLayout>
            </GridLayout>
        </ScrollView>
        <GridLayout row="1" stat-level-selector snackbar
                    [title]="selectionState.selectorTitle" [statRange]="selectionState.selectorNumbers" [selection]="selectionState.selection"
                    (selected)="onSelected($event)" (canceled)="onSelectionCancelled()"
                    (dismissed)="onSelectorDismissed()">
        </GridLayout>
    </GridLayout>
</base-navigation-page>