<action-bar actionBarTitle='Weapons'>
    <ActionItem position="right" (tap)="onFilterTapped()" right-action-items>
        <Label [text]="'fa-filter' | fonticon" class="fa"></Label>
    </ActionItem>
    <ActionItem position="right" (tap)="showFilterClearPrompt()" right-action-items>
            <Label [text]="'fa-filter' | fonticon" class="fa"></Label>
        </ActionItem>
</action-bar>
<GridLayout  columns="*" rows="auto,*,auto">
    <GridLayout row="0" columns="*, 30" rows="auto" class="search-text-container">
        <TextField col="0" (textChange)=onSearchTextChanged($event) #searchTextField></TextField>
        <Label col="1" [text]="'fa-times' | fonticon" (tap)="onClearSearchTapped($event)" class="clear-search-text-button fa"></Label>
    </GridLayout>
    <ListView  row="1" [items]="displayItems" (itemTap)="onItemTapped($event)" (longPress)="onItemLongPress($event)">
        <ng-template let-item="item">
            <GridLayout rows="5,auto" columns="5,*,5" class="item-container-margin">
                <GridLayout col="1" row="1" columns="*,80" rows="auto,auto" class="item-container">
                    <Label col="0" row="0" [text]="item.name" class="item-name"></Label>
                    <Label col="1" row="0" [text]="item.price" class="item-price"></Label>
                    <StackLayout orientation="horizontal" col="0" row="1" class="attribute-bubble-list">
                        <attribute-bubble [value]="item.damage" type="damage"></attribute-bubble>
                        <attribute-bubble [value]="item.critical" type="critical"></attribute-bubble>
                        <attribute-bubble [value]="item.range" type="range"></attribute-bubble>
                    </StackLayout>
                </GridLayout>
            </GridLayout>
        </ng-template>
    </ListView>
    <GridLayout row="2" columns="auto,*,auto,auto" class="filter-clear-pop" #filterPop>
        <Label col="0" text="Remove filter?" class="prompt-text"></Label>
        <Label col="2" text="Yes" class="prompt-text clear-filter-prompt-button" (tap)="clearPropertyFilter()"></Label>
        <Label col="3" text="Dismiss" class="prompt-text dismiss-prompt-button" (tap)="dismissFilterClearPrompt()"></Label>
    </GridLayout>
</GridLayout>