.stat-label  {
    font-size: 12;
    color: #999999;
    height: auto;
    width: auto;
}

.stat-text {
    font-size: 15;
    height: auto;
    width: auto;
}

.labeled-stat {
    margin-bottom: 10;
}