<base-navigation-page actionBarTitle="Shop" selectedPage="Shop">
    <ScrollView class="shop-container">
        <GridLayout columns="auto,auto" [rows]="getRows()" class="shop-category-list">
            <GridLayout class="shop-category-margin" columns="20,auto" rows="20,auto" *ngFor="let item of shopCategories;let i = index" [col]="getColumnForIndex(i)" [row]="getRowForIndex(i)">
                <FlexboxLayout class="shop-category" row="1" col="1" (tap)="onShopCategoryTapped(item)">
                    <Image [src]="item.imageUrl" class="shop-category-icon"></Image>
                    <Label [text]="item.title" class="shop-category-label"></Label>
                </FlexboxLayout>
            </GridLayout>
        </GridLayout>
    </ScrollView>
</base-navigation-page>